.movie_title {
  background-color: rgba(0, 0, 0, 0.75);
  height: fit-content;
  line-height: 1.75;
  color: #ffffff;
  box-shadow: none;
  overflow: hidden;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  width: 304px;
  border: 0;
}

.movie_title:hover {
  background-color: #ffd32a;
  color: #000000;
}

@media (max-width: 600px) {
  .movie_title {
    background: rgba(0, 0, 0, 1);
  }
  .search_input {
    margin-top: 25px;
  }
}
