.bg {
  width: 100%;
  top: 0;
}

.background_image {
  background-position: right center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  background-size: cover;
  position: fixed;
  height: 100vh;
  z-index: -1;
  width: 75%;
  left: 0;
  top: 0;
}

@media (max-width: 600px) {
  .background_image {
    width: 0%;
  }
}
